:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --secondary-accent-color: #188CE8;
    --background-white-color: #FFFFFF;
    --background-secondary-white-color: #F5F4FA;
}

body {
    background-color: #FFFFFF;
    color: var(--primary-text-color);
    font-family: Roboto; sans-serif;
    margin: 0 auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
img {
    display: block;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section:nth-child(2) {
    padding-bottom: 0;
}

h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.logo {
    font-family: Raleway;
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.link {
    text-decoration: none;
    color: var(--primary-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

/* Site navigation */
.header {
    border-bottom: 1px solid #ECECEC;
}
.header .container {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}
.header-logo {
    margin-right: 93px;
    align-self: center;
}
.site-nav {
    color:var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    display: flex;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .studio {
    color: var(--primary-text-color);
}
.menu {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
}
.menu-item {
    margin-right: 50px;
}
.menu-item:last-child {
    margin-right: 0;
}

.current {
    display: flex;
    color: var(--accent-color);
    text-decoration: none;
}
.menu-link {
    position: relative;
}
.menu .current::after {
    position: absolute;
    content: "";
    top: 45px;
    background-color: var(--accent-color);
    width: 100%;
    height: 4px;
    border-radius: 2px;
}

.site-nav .link:hover,
.site-nav .link:focus,
.current {
    color: var(--accent-color);
}
.contacts {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    display: flex;
    margin-left: auto;
}
.mail {
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.phone {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-link {
    display: flex;
    align-items: center;
}
.contact-icon {
    margin-right: 10px;
    fill: currentColor;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-icon:hover,
.contact-icon:focus {
    fill: var(--accent-color);
}

.contacts .link {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}


/* Hero */
.hero {
    background-color: hsl(235, 10%, 21%);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
        url(../images/Img-17-2.jpg);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}
.hero-title {
    color: var(--background-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    text-transform: uppercase;
    max-width: 600px;
    margin: auto;
}

.hero .hero-button {
    display: inline-block;
    color: var(--background-white-color);
    background-color: var(--secondary-accent-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    justify-content: center;
    font-family: inherit;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    border: none;
    margin-top: 30px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover {
    color: var(--background-white-color);
    background-color: var(--accent-color);
}


/* Main content */
.hiden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: 1px;
}

/* our advantage */

.our-advantages {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 30px;
}
.description {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    text-transform: none;
    margin-bottom: 0;
    margin-top: 10px;
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}
.advantages {
    display: flex;
    justify-content: center;
}
.advantages .item {
    align-items: center;
}

.what-we-doing {
    display: flex;
    justify-content: center;
}
.item {
    margin-right: 30px;
    width: 270px;
}
.item:last-child {
    margin-right: 0;
}

.image {
    margin-right: 30px;
    position: relative;
}
.image:last-child {
    margin-right: 0;
}
.thumb {
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.label {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background-white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    width: 370px;
    height: 70px;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
}
/* our team */
.our-team-section {
    background-color: #F5F4FA;
}
.team {
    display: flex;
    text-align: center;
}
.card {
    margin-right: 30px;
    background-color: var(--background-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.card:last-child {
    margin-right: 0;
}
.card-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-top: 0px;
}
.card-text {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 0px;
}
.card-description {
    padding-top: 30px;
    padding-bottom: 30px;
}
.social-media {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}
.social-media-item {
    border-radius: 50%;
    margin-right: 10px;
    color: #AFB1B8;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-item:last-child {
    margin-right: 0;
}
.social-media-item:hover,
.social-media-item:focus {
    background-color: var(--accent-color);
}

.social-media-icon {
    fill: #AFB1B8;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-icon:hover,
.social-media-icon:focus {
    fill: var(--background-white-color);
}
/* Clients */
.clients {
    display: flex;
    justify-content: center;
}
.item-thumb {
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-thumb:last-child {
    margin-right: 0;
}

.clients-link {
    fill: #AFB1B8;
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-logo {
    width: 106px;
    height: 60px;
}
.clients-link:hover,
.clients-link:focus {
    fill: currentColor;
    border: 1px solid currentColor;
}
/* footer */
.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    
}

.footer .studio {
    color:var(--background-white-color);
}
.address {
    font-style: normal;
    color: var(--background-white-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    margin-top: 20px;
    margin-bottom: 9px;
}
.address:last-child {
    margin-bottom: 0;
}
.map {
    color: var(--background-white-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.map .link:hover,
.map .link:focus {
    color: var(--background-white-color);
}
.footer-contacts {
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts .link:hover,
.footer-contacts .link:focus {
    color: var(--secondary-accent-color);
}

.footer .logo {
    color: var(--accent-color);
}
.footer-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.footer-social-media-item {
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-media-item:hover,
.footer-social-media-item:focus {
    background-color: var(--accent-color);
}
.footer-social-media-item:last-child {
    margin-right: 0;
}
.footer-social-media-link {
    fill: var(--background-white-color);
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-size: 14px;
    line-height:1.1;
    margin-bottom: 20px;
}
.footer-right-block {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}
.father-block {
    display: flex;
    align-items: baseline;
}
.footer-form {
    margin-left: auto;
}
.footer-form input {
    width: 358px;
    height: 50px;
    color: rgba(255, 255, 255, 0.6);
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    padding: 15px 16px;
    margin-right: 12px;
    outline: 0;
}
.footer-submit-btn {
    position: relative;
    background-color: #2196F3;
    border: none;
    color: var(--background-white-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    padding-right: 29px;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
}
.paperplane {
    position: absolute;
    top: 13px;
    right: 28px;
    fill: var(--background-white-color);
}


/* portfolio */
.projects-filter {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.button {
    color: var(--primary-text-color);
    background-color: #F5F4FA;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    padding: 6px 22px;
    border-radius: 4px;
    border: none;
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn {
    margin-right: 8px;
}
.filter-btn:last-child {
    margin-right: 0;
}
.button:focus,
.button:hover {
    color:var(--background-white-color);
    background-color: var(--accent-color);
     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-filter .current {
    color: var(--background-white-color);
    background-color: var(--accent-color);
}
.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 4px;
    margin-top: 0;
}
.card-filter {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    margin-top: 0;
    margin-bottom: 0;
}
.card-border {
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    padding: 20px 24px;
}

.set-link {
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.set-link:hover,
.set-link:focus {
    color: var(--primary-text-color);
     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  
}
.projects {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}
.set-item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 3 - 30px);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Modal*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 528px;
    min-height: 581px;
    background-color: #fff;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn {
    position: fixed;
    top: 8px;
    right: 8px;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover,
.close-btn:focus {
    fill: var(--accent-color);
}

.form {
    display: flex;
    flex-direction: column;
    padding: 40px 39px 40px 41px;
}
.form-header {
    text-align: justify;
    font-style: 700;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    margin-top: 0;
    margin-bottom: 12px;
}
.form .input {
    border-radius: 4px;
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 42px;
    cursor: pointer;
    outline: 0;
}
input:focus-within {
    color: var(--accent-color);
}
label {
    font-style: 400;
    font-size: 12px;
    line-height: 0.84;
    color: #757575;
    margin-bottom: 4px;
    margin-top: 15px;
}

.checkbox-label {
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
    font-style: 400;
    font-size: 14px;
    line-height: 1.71;
    margin-top: 20px;
    margin-bottom: 30px;
}
input .checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}
.checkbox-icon {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 16px;
    height: 15px;
    margin-right: 8px;
    border: 2px solid var(--primary-text-color);
    border-radius: 4px;
}
.checkbox:checked + .checkbox-icon {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    background-repeat: no-repeat;
}


textarea {
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    outline: 0;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
textarea:hover,
textarea:focus {
    border-color: var(--accent-color);
}
.policy-link {
    color: #2196F3;
    margin-left: 5px;
}
.input-box {
    position: relative;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-box:hover,
.input-box:focus {
    fill: var(--accent-color);
}
.input-box:focus-within {
    fill: var(--accent-color);
}
.form-icon {
    position: absolute;
    top: 14px;
    left: 15px;
}

.form-input {
    width: 100%;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover,
.form-input:focus {
    border-color: var(--accent-color);
}
.submit-btn {
    display: inline-block;
    justify-content: center;
    background-color: #2196F3;
    border: none;
    color: var(--background-white-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    padding: 10px 55px;
    margin: auto;
    width: 200px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-btn:hover,
.submit-btn:focus {
    background-color: #188CE8;
}


/* Overlay*/
.overflow-box {
    position: relative;
    overflow: hidden;
}

.set-item:hover .overlay {
  transform: translatex(0);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay > p {
  color: #fff;
  padding: 63px 24px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}
