// footer 
.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    .logo--text {
    color:$backgroundWhiteColor;
    }
}

.address {
    font-style: normal;
    color: $backgroundWhiteColor;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    margin-top: 20px;
    margin-bottom: 9px;

    &:last-child {
    margin-bottom: 0;
    }
}

.map-link {
    color: $backgroundWhiteColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: $accentColor;
    }
}

.footer--contacts {
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.link:hover,
    &.link:focus {
    color: $secondaryAccentColor;
}
}

.footer .social-media {
    margin-top: 7px;
}
.footer .social-media--item {
    background-color: rgba(255, 255, 255, 0.1);
}
.footer .social-media--link {
    fill: $backgroundWhiteColor;
}
.footer .social-media--item:hover,
.footer .social-media--item:focus {
    background-color: $accentColor;
}

.footer--title {
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-size: 14px;
    line-height:1.1;
    margin-bottom: 20px;
}
.footer--central-block {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}
.father-block {
    display: flex;
    align-items: baseline;
}
.footer--form {
    margin-left: auto;
}
.footer--form input {
    width: 358px;
    height: 50px;
    color: rgba(255, 255, 255, 0.6);
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    padding: 15px 16px;
    margin-right: 12px;
    outline: 0;
}
.footer--submit-btn {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    padding-right: 29px;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
}

.submit-btn--icon {
    position: absolute;
    top: 13px;
    right: 28px;
    fill: $backgroundWhiteColor;
}