$primaryTextColor: #212121;
$secondaryTextColor: #757575;
$accentColor: #2196F3;
$secondaryAccentColor: #188CE8;
$backgroundWhiteColor: #FFFFFF;
$backgroundSecondaryWhiteColor: #F5F4FA;

$primaryFontFamily: Roboto, sans-serif;
$secondaryFontFamily: Raleway;